@{
    ViewBag.Title = "Help";
}

<div class="panel panel-default">
    <div class="panel-heading">Reservation rules</div>
    <div class="panel-body">
        We have two types of parking spots at Apprise. The first are the parking spots located under the office building.
        The second are the spots located a short walk away. Parking spot guidelines:

        <ol>
            <li>
                In all cases of parking, priority will be given to people that have a need of parking due to a
                personal need, or a work related need. If you feel you have a situation that applies to this,
                please talk to Dave.
            </li>
            <li>
                Each team member will only be able to sign up twice a week for office parking spots.
                This is further restricted to only being able to sign up for either Monday, or Friday.
            </li>
            <li>
                At noon (12:00), all restrictions are removed for the following day’s office parking spots.
                They can be signed up for freely.
            </li>
            <li>
                Team members who carpool (drive in together) – essentially sharing/both benefiting from a spot –
                cannot all sign up for different days.  This would effectively allow 2 people carpooling to
                have a spot 4 out of 5 days, or 3 people – a spot all 5 days.
            </li>
        </ol>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Bug report</div>
    <div class="panel-body">
        If you discover an error, please let me know at this email address
        <a href="mailto:roman.janko@apprise.com">roman.janko@apprise.com</a>.
    </div>
</div>