.no-wrap {
    white-space: nowrap;
}

.border-left {
    padding: 10px 20px;
    border-left: 5px solid #eee;
}

html, body {
    height:100%;
}

.max-height {
    height:80%;
    min-height:80%;
}

.reservation-details-table td {
    vertical-align: top;
}

.popover {
    z-index: 1040;
}