@{
    ViewBag.Title = "Password Change Confirmed";
}

<h4>Password change confirmation.</h4>
<p>
    Your password has been successfully changed. @Html.ActionLink("Click here to return Home.", "Index", "Home")
</p>
