@{
    ViewBag.Title = "Account Confirmed";
}

<h4>Account confirmed.</h4>
 
<div> 
    <p>
        Thank you for confirmation. Your account is active now. @Html.ActionLink("Click here to log in.", "Login", "Account")
    </p>
</div>
