@{
    ViewBag.Title = "Password Recovery Confirmed";
}

<h4>Password recovery.</h4>
<p>
    An email with further instructions for resetting your password has been sent out. Please, check your email inbox.
</p>
