@{
    ViewBag.Title = "Registration Confirmed";
}

<h4>Your registration has been successful.</h4>
<p>
    An email with further instructions for activating your new account has been sent out. Please, check your email inbox.
</p>
