@model ParkingSystem.DomainModel.Models.ApplicationUser

<div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title text-left" id="makeUserActiveModalLabel">Make User Active</h4>
        </div>

        <form method="post" action="@Url.Action("MakeUserActive", "Users", new { id = Model.Id })"
              data-parking-ajax="true" data-parking-target="#makeUserActiveModalBody">
            <div id="makeUserActiveModalBody" class="modal-body text-left">
                @Html.AntiForgeryToken()

                @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                {
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
                        </div>
                    </div>
                }

                Are you sure you want to make user @Model.UserName active?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">OK</button>
            </div>
        </form>
    </div>
</div>
