@model ParkingSystem.DomainModel.Models.Reservation

<div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title text-left" id="deleteReservationModalLabel">Delete Reservation</h4>
        </div>
        
        <form method="post" action="@Url.Action("DeleteReservation", "Reservations", new { id = Model.Id })"
                data-parking-ajax="true" data-parking-target="#deleteReservationModalBody">
            <div id="deleteReservationModalBody" class="modal-body text-left">
                @Html.AntiForgeryToken()

                Are you sure you want to delete your reservation for parking spot @Model.ParkingSpot.Name on
                @String.Format("{0:dddd, M/d/yyyy}", Model.ReservationDate)?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </form>
    </div>
</div>
